.mission {
	background: url(/Bw1/marketing-page/img/tiger.jpg) no-repeat;
	margin-left: 170px;
	background-size: 880px;

	h1 {
		text-align: center;
		margin-right: 190px;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 40px;
		color: white;
		padding-top: 60px;
	}

	p {
		text-align: center;
		margin-right: 190px;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 14px;
		color: white;
		padding-bottom: 150px;
	}
}